@import url("/iframes/css/semantic-ui-css/semantic.css");

/* il faudra rajouter le semantic.css comme c'est indiqué sur l'import */

@media print {

  .praticien-currentName {
    font-size: 18px;
  }

  .titre-principal {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
  }

  .signature {
    padding-top: 80px;
    padding-left: 50%;
    margin-right: 5%;
  }

}

@page {
  size: a4;
}