@import url("/iframes/css/semantic-ui-css/semantic.min.css");

@media print {

  .titre-principal {
    margin-top: 3px;
    text-align: center;
    font-size: 15px
  }

  .item-rdv {
    /*font-size: 2px; ajuster la taille des caractères */
  }

  .new-password {
    /*font-size: 11px;*/
  }

  .bottom-message {
    text-align: center;
    font-size: 10px;
  }
}

@page {
  size: 89mm 51mm;
}
