@import url("/iframes/semantic-ui-css/semantic.min.css");

@media print {

  .praticien-currentName {
    font-size: 18px;
  }

  .titre-principal {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
  }
}

@page {
  size: a4;
}
