/*ProfilsPatients.js*/
#preview {
  display: none;
}

.new-password {
  margin-left: 10px;
  margin-bottom: 20px;
}

/* RdvPassCard.js */
.impression-details {
  margin: 0 auto; /* centrer la div */
  /*border: 1px solid black;*/
}

.coordonnees-praticien {
  margin-left: 10px;
  margin-top: 0px;
}

.principal-title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}

.rdv-list {
  padding-top: 20px;
  margin-left: 10px;
}

.signature {
  padding-top: 80px;
  padding-left: 50%;
  margin-right: 5%;
}
/*----------------------------------------------------------------------------------------------------------------------*/

@media print {
  /* RdvPassCard.js */
  .preview-details {
    margin: 0 !important;
  }

  /* FichePatient.js */
  .message-no-patient,
  .accordion {
    display: none;
  }
  /*----------------------------------------------------------------------------------------------------------------------*/

  /* ProfilsPatients.js */
  .profil-patients-header,
  .message-erreur-sauvegarde,
  .message-entete,
  .patient-search,
  .buttons {
    display: none;
  }

  /*---------------------------------------------------------------------------------------------------------------------*/

  /* FichePatient.js */
  #preview {
    display: block;
    margin: 0 !important;
  }

  /*---------------------------------------------------------------------------------------------------------------------*/

  /* la preview à imprimer */
  .impression-details {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
  }

  .coordonnees-praticien {
    margin-top: 5px !important ;
    margin-left: 5px !important;
  }

  /*---------------------------------------------------------------------------------------------------------------------*/

  @page {
    margin: 0;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    size: 210mm 297mm; /* feuille A4*/ /* 81mm * 51mm pour une carte*/
  }
}
