/**
 * style de la preview d'impression au format détaillé (A4)
 */

/* RdvPassCard.js */

.impression-details {
  margin: 0 auto; /* centrer la div */
  /*border: 1px solid black;*/
}

.praticien-currentName {
  font-size: 18px;
}

.coordonnees-praticien {
  margin-left: 10px;
  margin-top: 0px;
}

.titre-principal {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

.signature {
  padding-top: 80px;
  padding-left: 50%;
  margin-right: 5%;
}
