/*
    Intégration à un site éditeur
*/

/*
#patients {
  background-color: #b74e91;
  min-height: 100vh;
}

#patients .header {
  color: #ffffff;
}

#patients .list {
  background-color: #5e42a6;
  color: #ffffff;
}

#patients .button {
  background-color: #312450;
  color: #ffffff;
}

#praticiens {
  background-color: #5e42a6;
  min-height: 100vh;
}

#praticiens .header {
  color: #ffffff;
}

#praticiens .button .primary {
  background-color: #312450;
  color: #ffffff;
}
*/
